[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/harold/Desktop/steam.desktop]
row=5
col=0

[85699988-9a86-4749-9dce-16514fb37dd4]
row=6
col=0

[94DE2F1DDE2EF760]
row=1
col=0

[D4FA828F299D817A]
row=0
col=0

[回收站]
row=2
col=0

[/]
row=3
col=0

[/home/harold]
row=4
col=0

