body {
	font-size: 12px;
	background-color: #ffffff;
}

p {
	margin: 0 0 5px !important;
}

.card {
	margin-bottom: 10px !important;
	padding: 5px !important;
}

.card-content {
	border-top: 1px solid #ddd;
	padding: 5px 0 5px 0;
	margin-top: 10px;
}

.card-title-w-btn {
	margin-bottom: 5px !important;
}

.card-title-w-btn .btn {
	padding: 0px 0px !important;
	font-size: 16px;
}

.card-title-w-btn a:hover {
	color: #FF9800;
}

h5 {
	margin-top: 5px;
	margin-bottom: 5px;
}
/* .card-content{
    	width:210px;
    } */
.card-more {
	width: 20px;
	float: right;
}

.form-control {
	padding: 4px 8px !important;
}

.input-group .btn {
	padding: 7px 10px !important;
}

.card-more .fa-chevron-right {
	font-size: 12px;
}

.btn-group-justified {
	margin-bottom: 15px;
}

i.active {
	color: #dee7df;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.info-p {
	margin-bottom: 0px !important;
}

.nav-tabs>li {
	float: left;
	width: 25%;
}

.nav>li>a {
	padding: 4px 7px !important;
	text-align: center;
	font-weight: 600;
}

.nav-tabs>li+li {
	margin-left: 0px !important;
}

#header {
	background-color: #009688;
	height: 30px;
	font-size: 18px;
	vertical-align: middle;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-weight: 600;
}
#header span:hover{
	cursor: pointer;
}

#header small {
	font-size: 10px;
	color: #FF9800;
}

#header .help-page {
	left: 10px;
	top: 7px;
	position: absolute;
}

#header .logout {
	right: 10px;
	top: 7px;
	position: absolute;
}

#header i:hover {
	cursor: pointer;
	color: #FF9800;
}

.login-content .login-box.flipped {
	min-height: 330px !important;
}

.wrapper {
	width: 280px;
	min-height: 360px;
	overflow: hidden;
}
/***login **/
.login-content {
	min-height: auto !important;
}

.login-content .login-box .login-form, .login-content .login-box .forget-form
	{
	padding: 20px !important;
}

.login-content .login-box.reg .forget-form {
	opacity: 0 !important;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.login-content .login-box.flipped .reg-form {
	opacity: 0 !important;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.login-content .login-box.reg .reg-form {
	opacity: 1 !important;
	-webkit-transform: rotateY(360deg);
	transform: rotateY(360deg);
}

.login-content .login-box.reg {
	min-height: 500px !important;
}

.overlay {
	position: absolute;
	top: 30px;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.9);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	color: #555;
	border-radius: 3px;
	z-index: 1000;
}

.content-wrapper {
	background-color: #ffffff;
}

.content-page{min-height: 300px;}

.node-content{
	min-height:250px;
	overflow-y: auto;
    max-height: 400px;
    margin-bottom:10px!important;
}

.node-content .list-group-item:hover{
	background-color: #dff0d8;
}

.node-content .list-group-item.radio, .node-content .list-group-item label{
	padding-left:5px !important;
	padding-right:5px !important;
}



.node-content .list-group-item:hover{
	cursor: pointer;
}
.node-content .list-group-item.disabled:hover{
	cursor: not-allowed;
}

.node-content .list-group-item.radio img{
	width:20px;
	float:right;
}

#domain-page .card-content {
    padding: 5px 0 0px 0 !important;
    margin-top: 5px !important;
}

.domain-item {
	width:100%;
	padding: 5px !important;
	font-size:14px;
}

.domain-item .read-mode {
	height: 24px; 
	padding: 2px;
}
.domain-item .read-mode span{
    max-width: 150px;
    overflow: hidden;
    display: block;
}

.domain-item .edit-mode .domain-input{
	height: 24px; 
	padding-left: 8px;
	border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #ccc;
    width: 80%;
}

.domain-item .edit-mode .fa-ban{
	border-radius: 4px;
}

.domain-item .edit-mode .fa{
	text-align: center;
    border: 1px solid #ccc;
    vertical-align: middle;
    width: 10%;
    float: right;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0px solid #ccc;
}

.domain-item .fa{
	float: right;
    padding: 4px;
}

.domain-item:hover{
	background: #bce8f1;
	cursor: pointer;
}

.domain-item .fa:hover{
	color:#009688;
}

#domain-list {
	max-height:300px;overflow-y: auto;
}

#ext-loading{
    display: inherit;
}

.personal-info li{
	padding: 5px 5px;
}
.personal-info li.list-group-item .badge{
	margin-right: 2px;
}
.personal-info  {
	margin-bottom: 0px;
}
.hover-item:hover{
	cursor: pointer;
}
#err-loading b:hover{
	cursor: pointer;
}
#err-loading b{
	color: #009688;
}
#err-loading i{
	color:#2196F3;
	font-size: 20px;
}
.vip-node{
	color: red;
}

.bottom-text{
	margin-top: 10px !important;
}

#model-tip{
	bottom: 300px;
    left: 14px; display:none;
    position: absolute;    
    border: 1px solid #c5c5c5;
    background: #111;
    color: white;    
    box-shadow: 0px 0px 5px #666666;    
    border-bottom-right-radius: 3px;    
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;    
    border-top-left-radius: 3px;    
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
}

.signal-svg{
	width: 20px;
	height: 20px;
	float: right;
	padding-left: 5px;
}
#user-page li.list-group-item:hover {
	background-color:#f5f5f5
}

#user-page li.list-group-item i.fa {
	float: right;
    color: #319688;
    font-size: 16px;
}

#unknowDomains{
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

#node-page .card-content{
	    margin-top: 0px;
}

.animated-radio-button.disabled input[type="radio"]:checked + .label-text:before {
    content: "\f192" !important;
    color: #ccc;
}

#active-code{
	float:right;
	margin-bottom: 10px;
}

.fa-sign-out{
	float: right;
    font-size: 16px;
    
}

.service{
	right: 10px;
	top: 7px;
	position: absolute;
}

.fa-sign-out:hover{
	cursor: pointer;
	color: #FF9800;
}
.node-desc{
	margin-left: 24px;
}
#checkin-message{
	    text-align: center;
	    
}
.loading-tips{
	display: block;
	font-size: 10px;
	color: red;
}